@model IEnumerable<Library>
<a class="btn btn-primary bg-primary text-light mb-2" asp-controller="Library" asp-action="Create">Create</a>
<table class="table-bordered table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>MSDN</th>
            <th>Pages</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int id = 1;
        }
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @id
                </td>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.MSDN
                </td>
                <td>
                    @obj.Pages
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@obj.id"><i class="bi bi-pen"></i></a> || <a asp-action="Details" asp-route-id="@obj.id"><i class="bi bi-eye"></i></a> || <a asp-action="Delete" asp-route-id="@obj.id"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            id = id + 1;
        }
    </tbody>
</table>