@model IEnumerable<Category>
<a class="bg-primary text-light p-2 text-decoration-none m-2" asp-controller="Category" asp-action="Create">Create</a>
<table class="table-bordered table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Display Order</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            int id = 1;
        }
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @id
                </td>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.DisplayOrder
                </td>
                <td>
                    @obj.CreatedDate
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pen"></i></a> || <a asp-action="Details" asp-route-id="@obj.Id"><i class="bi bi-eye"></i></a> || <a onclick="Delete('/Admin/Category/Delete/@obj.Id')"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            id = id + 1;
        }
    </tbody>
</table>
<script src="~/js/deletetdrow.js"></script>